<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="ZZBRMB.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="MaxSizeRollBackups" value="1" />
      <param name="MaximumFileSize" value="100KB" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!--自定义的常量信息-->
    <add key="LogInfo" value="错误日志记录" />
    <add key="TemporaryPath" value="Temporary"/>    <!--输出临时文件存放目录-->
    <add key="iViewCount" value="50"/>    <!--支持同时打开最大文件数量-->
    <add key="FontSize_Common" value="12,11.5,11,10.5,10,9.5,9,8.5,8,7.5,7,6.5,6,5.5"   />  <!--RichTextBox控件，字号与字像素对应关系，用于编辑简历是计算悬挂缩进-->    
    <add key="FontSize_JianLi" value="12,10.5,9,7.5,6.5,5.5"   />  <!--RichTextBox控件，字号与字像素对应关系，用于编辑简历是计算悬挂缩进-->
    <add key="FontSize_JianLi_PX" value="8,7,6,5,5,4"   />    <!--RichTextBox控件，字号与字像素对应关系，用于编辑简历是计算悬挂缩进-->
    <add key="SupportInfo_PhoneNum" value="技术支持:\r\n    北京北大软件工程发展有限公司\r\n\r\n电话:010-61137688\r\n网站:http://www.2171e.com\r\n"/>   
    <add key="SeparatorForName_Standard" value="·"/>    <!--姓名项的标准分隔符-->
    <add key="SeparatorsForName_Accepted" value="?？。•"/>    <!--姓名项支持的分隔符-->
    <add key="TemporaryFilesSaveDays" value="3"/>    <!--临时文件保留时间-->
	  <add key="Keyword_DepartFamilyMember" value="去世,死亡,逝世,已逝,已故"/>    <!--已去世家庭成员关键字-->
    <add key="MaxFileSize_Photo" value="5"/>    <!--照片文件大小限制，MB为单位-->
    
  </appSettings>
  

</configuration>
