body
{
	font-size:12px;
	font-family:微软雅黑, 宋体;
}
.left
{
    float:left;	
    width:55%;
}
.right
{
    float:right;
    width:30%; 
      
}
.title
{
    border-bottom:solid 1px #ccc;	
}
.photocontainer
{
	margin-top:10px;
	background:url("../image/bg_120.gif") no-repeat left top;   
	padding:7px 12px 12px 7px;                                        
}  
.uploadtooltip
{
	margin-top:10px;
	color: #555;	
	line-height:150%;
}
.uploaddiv
{
	margin-top:10px;
}
input
{
	padding:3px;  
}
#Step2Container
{
/*display:none;	*/
}
#Canvas
{
    position: relative;
    width:568px;			/*画布的位置*/
    height:400px;			/*画布的位置*/
    border:2px solid #888888;
    overflow:hidden;	          
    cursor:pointer;	
}
.smallbig
{
    cursor:pointer;	
}
 #bar
{
	 width: 211px;
     height: 18px;
     background-image: url("../image/track.gif");
     background-repeat: no-repeat;
     position: relative;
 }
.child
{
    width: 11px;
    height: 16px;
    background-image: url("../image/grip.gif");
    background-repeat: no-repeat;
    left: 0;top:2px;
    position: absolute;
    left:100px;
}
.imagePhoto
{
	border-width:0px;
	position:relative;
}
#IconContainer
{
	position:relative;    
	left:0px;
	top:-341px;    /*背影的位置，  画布的相对位置*/
	      	          	
}  
#IconContainer img
{
	FILTER:alpha(opacity=60);
	opacity:0.6;    
	background-color:#ccc;	   
}
#ImageDragContainer 
{
	border: 1px solid #ccc;
    width: 272px;	/*截图的宽*/
    height: 340px;	/*截图的高*/
    cursor: pointer;
    position: relative;
    top: 30px;    /*根据高宽计算*/
    left: 148px;    /*根据高宽计算*/
    overflow: hidden;
    z-index:1;
}   