.v_standard tr td{
	border-left: 2px solid #477aaf;
	border-top: 2px solid #477aaf;
	font-size: 19px;
	margin: 0px;
	padding:0px;
	font-family: 'ו';
	text-align: center;
	overflow: hidden;
	
}
.label-clor{
	background-color: #d4e9fc;
}
.font-left{
	text-align: left !important;
}
.no-y-scroll{
	overflow-y:hidden !important;
}
.top-last{
	border-bottom: 2px solid #477aaf;
}
.left-last{
	border-right: 2px solid #477aaf;
}
.v_standard tr td textarea{
	font-family: 'ו', Simsun;
	font-size:12px;
	font-style: normal;
	font-variant:normal;
	font-weight:normal;
	text-align: center;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.asdasd{
	height: 146px !important;
}

.widthcol1-66{
	width: 66px !important;
}

.widthcol2-86{
	width: 86px !important;
}


.widthcol3-70{
	width: 70px !important;
}


.widthcol4-86{
	width: 86px !important;
}



.widthcol5-86{
	width: 86px !important;
}



.widthcol6-88{
	width: 88px !important;
}
.height05-46{
	height: 23px !important;
}



.widthcol7-136{
	width: 136px !important;
}
.height06-184{
	height: 184px !important;
}


.heightrow1-46{
	height: 46px !important;
}
.heightrow2-46{
	height: 46px !important;
}
.heightrow3-46{
	height: 46px !important;
}
.heightrow4-46{
	height: 46px !important;
}
.heightrow5-23{
	height: 23px !important;
}
.heightrow6-23{
	height: 23px !important;
}
.heightrow7-23{
	height: 23px !important;
}
.heightrow8-23{
	height: 23px !important;
}
.heightrow9-46{
	height: 46px !important;
}
.heightrow10-46{
	height: 46px !important;
}
.heightrow11-46{
	height: 46px !important;
}
.heightrow12-475{
	height: 475px !important;
}


.width31-157{
	width: 157px !important;
}

.width33-175{
	width: 175px !important;
}

.width42-157{
	width: 157px !important;
}

.width44-224{
	width: 224px !important;
}
.width52-157{
	width: 157px !important;
}

.width54-224{
	width: 224px !important;
}

.width62-157{
	width: 157px !important;
}

.width64-224{
	width: 224px !important;
}

.width72-157{
	width: 157px !important;
}

.width74-224{
	width: 224px !important;
}

.width81-470{
	width: 470px !important;
}

.width91-470{
	width: 470px !important;
}

.width101-470{
	width: 470px !important;
}

.width111-557{
	width: 557px !important;
}
