.width-60 {
	width: 60px;
}

.width-79 {
	width: 79px;
}

.width-80 {
	width: 80px;
}

.width-90 {
	width: 90px;
}

.width-95 {
	width: 95px;
}

.width-100 {
	width: 100px;
}

.width-120 {
	width: 120px;
}

.width-130 {
	width: 130px;
}

.width-140 {
	width: 140px;
}

.width-160 {
	width: 160px;
}

.width-231 {
	width: 231px;
}

.width-240 {
	width: 240px;
}

.width-250 {
	width: 250px;
}

.width-260 {
	width: 260px;
}

.width-270 {
	width: 270px;
}

.width-300 {
	width: 300px;
}

.width-320 {
	width: 320px;
}

.width-370 {
	width: 370px;
}

.width-375 {
	width: 375px;
}

.width-620 {
	width: 620px;
}

.width-750 {
	width: 750px;
}

.width-760 {
	width: 760px;
}

.width-800 {
	width: 800px;
}

.width-900 {
	width: 900px;
}

.width-full {
	width: 100%;
}

.maxWidth-140 {
	width: 100%;
	max-width: 140px;
}

.maxWidth-195 {
	width: 100%;
	max-width: 195px;
}

.maxWidth-405 {
	width: 100%;
	max-width: 405px;
}

.maxWidth-800 {
	width: 100%;
	max-width: 800px;
}
