
.ui-selectable-helper{
	display: none;
}

.top_btn_style{
	
	border-radius:5px;cursor:pointer;margin-left:7px;height:30px;line-height:30px;font-size:14px;margin-top:10px;color:#fff;background-color:#3680C9;text-align: center;}
.btncls{
	position: absolute;
	left: 900px;
	top: 110px;
	z-index: 2000;
	width: 220px;
}


.rownum{
	border-bottom: 1px solid #C1DAD7;
	color: #4f6b72;
}

.JiMi{
	  text-align: left;
    font-size: 26px;
    font-family: 方正小标宋简体;
    line-height: 2;
    height: 40px;
    font-weight: 500;
}
.BiaoTouP{
	/*margin-left: 200px;*/
	font-family: 方正小标宋简体;
	/*font-weight: bolder;*/
	font-size: 28pt;
	line-height: 1;

}
.BiaoTouDate{
	font-family: 宋体;
	font-size: 19pt;
	line-height: 1;
}
.TiaoPeiLeiXing{
	text-align:center;
	width:100%;
	font-family: 楷体;
	font-size: 20pt;
	margin-top: 5px;
}
.TiaoPeiLeiXingDIV{
	position: absolute;
	top: 20px;
	left: 370px;
}
#yn_type{
	font-size: 16pt;
}


.TiaoPeiShiJian{
    font-family: Times New Roman;
    font-size: 22px;
    margin: 10px !important;
    height: 60px;
}
.TiaoPeiShiJianY,.TiaoPeiShiJianM,.TiaoPeiShiJianD{
	position: absolute;
	top: 20px;
	left: 370px;
}
#tp_y,#tp_m,#tp_d{
	font-size: 16pt;
}




.coordTable
{ 
    padding: 0; 
    margin: 0; 
    width:100%;
    border-left: 1px solid #C1DAD7; 
    border-bottom: 1px solid #C1DAD7;
    border-collapse:collapse; 
    table-layout:fixed;  
	border:1px solid black;
	text-align:center;
    vertical-align:center;
	
}
.coordTable th
 {
	 font-family:黑体;
	 font-size:14pt;
	 font-weight: 500;
	 border-right: 1px solid #C1DAD7;
	 border-bottom: 1px solid #C1DAD7;
	 border-top: 1px solid #C1DAD7;
	 letter-spacing: 0px;
	 text-transform: uppercase;
	 text-align:center;
	 border:1px solid black;
	 color:black;
	 /*background: #CAE8EA ;  */
	 overflow:hidden;
 }
.coordTable td
{ 
   /* border-right: 1px solid #C1DAD7; 
     border-bottom: 1px solid #C1DAD7;  */
   /*  background: #fff;  */
    font-size:15pt;  
    /* color: #4f6b72;  */
    padding : 5px 0px; 
    margin: 0; 
    empty-cells:show;
    overflow:hidden;
	height: 160px;
	border:1px solid black;
	
   /* text-align:center;
    vertical-align:center;*/
   /* position:relative; */
    font-family: 宋体 ;
}
.ther{
	font-family: 宋体 ;
}
.TNR{
	/*font-family: Times New Roman !important;
	text-align:center;*/
}   
    
    
.YiJiBiaoTiTD{
	font-family: 黑体 !important;
	color: black !important;
	font-size: 20pt !important;
	text-align: left !important;
	min-height:28px !important;
	
}
.YiJiBiaoTiTR td{
	min-height:28px !important;
}

.ErJiBiaoTiTD {
	font-family: 楷体_GB2312 !important;
	color: black !important;
	font-size: 20px !important;
	text-align: left !important;
	min-height:28px !important;
}
.ErJiBiaoTiTR td{
	min-height:28px !important;
}

.align-left{
	text-align: left !important;
}
