<Config>
  <FldCod name="姓名" attName="XingMing_Output" attDesc="XM" TextAlign="Center" MinHeight="-1"  MultiTextAlign="Left"  LeftPadding="2" RightPadding="2" useLineSpace="2"/>
  <FldCod name="性别" attName="XingBie" attDesc="XB" TextAlign="Center" MinHeight="-1"   MultiTextAlign="Left"/>
  <FldCod name="出生年月" attName="ChuShengNianYue_Output" attDesc="CSNY" TextAlign="Center" MinHeight="-1"  MultiTextAlign="Center" />
  <FldCod name="民族" attName="MinZu" attDesc="MZ" TextAlign="Center" MinHeight="-1" MultiTextAlign="Left" LeftPadding="2" RightPadding="2" useLineSpace="2"/>
  <FldCod name="籍贯" attName="JiGuan" attDesc="JG" TextAlign="Center" MinHeight="-1" MultiTextAlign="Left" LeftPadding="2" RightPadding="2" useLineSpace="2"/>
  <FldCod name="出生地" attName="ChuShengDi" attDesc="CSD" TextAlign="Center" MinHeight="-1" MultiTextAlign="Left" LeftPadding="2" RightPadding="2" useLineSpace="2"/>
  <FldCod name="入党时间" attName="RuDangShiJian_Output" attDesc="RDSJ" TextAlign="Center" MinHeight="-1" MultiTextAlign="Center" LeftPadding="0" RightPadding="0" useLineSpace="2"/>
  <FldCod name="参加工作时间" attName="CanJiaGongZuoShiJian_Output" attDesc="CJGZSJ" TextAlign="Center" MinHeight="-1" MultiTextAlign="Left" useLineSpace="2"/>
  <FldCod name="健康状态" attName="JianKangZhuangKuang" attDesc="JKZK" TextAlign="Center" MinHeight="-1" MultiTextAlign="Left" LeftPadding="2" RightPadding="2" useLineSpace="2"/>
  <FldCod name="专业技术职务" attName="ZhuanYeJiShuZhiWu" attDesc="ZYJSZW" TextAlign="Center" MinHeight="-1" MultiTextAlign="Left" LeftPadding="2" RightPadding="2" useLineSpace="2"/>
  <FldCod name="熟悉专业有何特长" attName="ShuXiZhuanYeYouHeZhuanChang" attDesc="SXZYYHZC"  TextAlign="Center" MinHeight="-1" MultiTextAlign="Left" LeftPadding="2" RightPadding="2" useLineSpace="2"/>
  <FldCod name="全日制教育" attName="QuanRiZhiJiaoYu_XueLiXueWei_Output" attDesc="QRZJY"  TextAlign="Center" MinHeight="-1" MultiTextAlign="Left" LeftPadding="2" RightPadding="2" useLineSpace="1"/>
  <FldCod name="全日制毕业院校及专业" attName="QuanRiZhiJiaoYu_BiYeYuanXiaoXi_Output" attDesc="QRZXLXX" TextAlign="Left" MinHeight="-1" MultiTextAlign="Left" LeftPadding="2" RightPadding="2" useLineSpace="1"/>
  <FldCod name="在职教育" attName="ZaiZhiZhiJiaoYu_XueLiXueWei_Output" attDesc="ZZJY"  TextAlign="Center" MinHeight="-1" MultiTextAlign="Left" LeftPadding="2" RightPadding="2" useLineSpace="1"/>
  <FldCod name="在职教育毕业院校及专业" attName="ZaiZhiJiaoYu_BiYeYuanXiaoXi_Output" attDesc="ZZXLXX" TextAlign="Left" MinHeight="-1" MultiTextAlign="Left" LeftPadding="2" RightPadding="2" useLineSpace="1"/>
  <FldCod name="现任职务" attName="XianRenZhiWu" attDesc="XRZW"  TextAlign="Left" MinHeight="-1" MultiTextAlign="Left" LeftPadding="5" RightPadding="2" TopPadding="1.5" BottomPadding="1.5" />
  <FldCod name="拟任职务" attName="NiRenZhiWu" attDesc="NRZW" TextAlign="Left" MinHeight="-1" MultiTextAlign="Left" LeftPadding="5" RightPadding="2" TopPadding="1.5" BottomPadding="1.5" />
  <FldCod name="拟免职务" attName="NiMianZhiWu" attDesc="NMZW" TextAlign="Left" MinHeight="-1" MultiTextAlign="Left" LeftPadding="5" RightPadding="2" TopPadding="1.5" BottomPadding="1.5" />
  <FldCod name="简历" attName="JianLi" attDesc="JL" TextAlign="Left" MinHeight="-1" MultiTextAlign="Left" LeftPadding="5" RightPadding="5" TopPadding="3"/>
  <FldCod name="奖惩情况" attName="JiangChengQingKuang" attDesc="JCQK" TextAlign="Left" MinHeight="-1" MultiTextAlign="Left" LeftPadding="5" RightPadding="2"   useLineSpace="3"/>
  <FldCod name="年度考核结果" attName="NianDuKaoHeJieGuo" attDesc="NDKHJG" TextAlign="Left" MinHeight="-1" MultiTextAlign="Left" LeftPadding="5" RightPadding="2"  useLineSpace="3"/>
  <FldCod name="任免理由" attName="RenMianLiYou" attDesc="RMLY" TextAlign="Left" MinHeight="-1" MultiTextAlign="Left" LeftPadding="5" RightPadding="2"  useLineSpace="3"/>
  <FldCod name="称谓" attName="ChengWei" attDesc="FCW" TextAlign="Center" MinHeight="-1" MultiTextAlign="Left"  LeftPadding="3" RightPadding="2" useLineSpace="2"/>
  <FldCod name="家庭成员姓名" attName="FXingMing_Output" attDesc="FXM" TextAlign="Center"  MinHeight="-1" MultiTextAlign="Left" LeftPadding="3" RightPadding="2" useLineSpace="2"/>
  <FldCod name="年龄" attName="FNianLing" attDesc="NL" TextAlign="Center" MinHeight="-1" MultiTextAlign="Center"/>
  <FldCod name="政治面貌" attName="ZhengZhiMianMao" attDesc="FZZMM" TextAlign="Center" MinHeight="-1" MultiTextAlign="Left" LeftPadding="3" RightPadding="2"  useLineSpace="2"/>
  <FldCod name="工作单位及职务" attName="GongZuoDanWeiJiZhiWu" attDesc="FGZDWJZW" TextAlign="Left"  MinHeight="-1" MultiTextAlign="Left" LeftPadding="3" RightPadding="2" useLineSpace="2"/>
  <FldCod name="呈报单位" attName="ChengBaoDanWei" attDesc="CBDW" TextAlign="Right"  TextVertical="Bottom"  MinHeight="12.4" MultiTextAlign="Left" LeftPadding="5" RightPadding="2" useLineSpace="3"/>
  <FldCod name="呈报日期" attName="TianBiaoShiJian_Output" attDesc="TBSJ" TextAlign="Right" MinHeight="12.4" MultiTextAlign="Right"/>
  <FldCod name="审批机关意见" attName="ShengPiJiGuanYiJian" attDesc="SPJGYJ" TextAlign="Left" MinHeight="24" MultiTextAlign="Left"/>
</Config>


