<link rel="stylesheet" href="gbtp.css">

<html>
<head>
 <meta charset="utf-8">
</head>
<body>
<table id="coordTable" class="coordTable" style="WIDTH: 900px" cellspacing="0" sizcache="26" sizset="0">
 <tbody sizcache="26" sizset="0">
 <tr>
  <th style="FONT-SIZE: 16pt; BORDER-TOP: medium none; FONT-FAMILY: 黑体; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; FONT-WEIGHT: 600; TEXT-ALIGN: left; BORDER-LEFT: medium none" colspan="15">省委保密委员会 </th>
 </tr>
 <tr id="insertadd">
  <th class="lign" style="WIDTH: 1%; DISPLAY: none" rowspan="2">序<br />号</th>
  <th class="lign aligh_sensc" style="FONT-SIZE: 11pt; WIDTH: 73px; PADDING-BOTTOM: 9px !important; PADDING-TOP: 9px !important; PADDING-LEFT: 9px !important; PADDING-RIGHT: 9px !important" rowspan="2">姓名 </th>
  <th class="lign" style="FONT-SIZE: 11pt; HEIGHT: 50px !important; WIDTH: 175px" rowspan="2">现任职务 </th>
  <th class="lign" style="FONT-SIZE: 11pt; HEIGHT: 50px !important; WIDTH: 35px" rowspan="2">性<br />别 </th>
  <th class="lign" style="FONT-SIZE: 11pt; HEIGHT: 50px !important; WIDTH: 30px" rowspan="2">民<br />族 </th>
  <th class="lign" style="FONT-SIZE: 11pt; HEIGHT: 50px !important; WIDTH: 50px" rowspan="2">籍贯 </th>
  <th class="lign" style="FONT-SIZE: 11pt; HEIGHT: 50px !important" colspan="2">全日制教育 </th>
  <th class="lign" style="FONT-SIZE: 11pt; HEIGHT: 50px !important" colspan="2">在职教育 </th>
  <th class="lign" style="FONT-SIZE: 11pt; HEIGHT: 50px !important; WIDTH: 90px" rowspan="2">出生<br />年月 </th>
  <th class="lign" style="FONT-SIZE: 11pt; HEIGHT: 50px !important; WIDTH: 90px" rowspan="2">入党<br />时间 </th>
  <th class="lign" style="FONT-SIZE: 11pt; HEIGHT: 50px !important; WIDTH: 90px;"  rowspan="2">参与工作时间 </th>
  <th style="FONT-SIZE: 11pt; HEIGHT: 50px !important; WIDTH: 78px; PADDING-BOTTOM: 1px !important; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines;  PADDING-RIGHT: 1px !important" rowspan="2">任现职<br />时&nbsp;&nbsp;间 </th>
  <th style="FONT-SIZE: 11pt; HEIGHT: 50px !important; WIDTH: 90px" rowspan="2">任现职<br />级时间 </th>
  <th class="lign aligh_sensc" style="FONT-SIZE: 11pt; WIDTH: 92px; PADDING-BOTTOM: 9px !important; PADDING-TOP: 9px !important; PADDING-LEFT: 9px !important; PADDING-RIGHT: 9px !important" rowspan="2">备注 </th>
 </tr>
 <tr>
  <th style="FONT-SIZE: 11pt; WIDTH: 56pt; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; MARGIN: 0px; PADDING-RIGHT: 1px !important">学历 </th>
  <th style="FONT-SIZE: 11pt; WIDTH: 90px; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important; BACKGROUND-COLOR: white">毕业院校<br />及&nbsp;专&nbsp;业 </th>
  <th style="FONT-SIZE: 11pt; WIDTH: 70px; TEXT-ALIGN-LAST: justify; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: justify; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important">学历 </th>
  <th style="FONT-SIZE: 11pt; WIDTH: 81px; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important; BACKGROUND-COLOR: white">毕业院校<br />及&nbsp;专&nbsp;业 </th>
 </tr>
 <tr class="data" sizcache="17" sizset="0">
  <td class="rownum default_color aligh_sensc" style="DISPLAY: none" nodeindex="1">1</td>
  <td class="TNR default_color " sizcache="16" sizset="0" nodeindex="2">
   <div title="董程文" class="xingm" style="PADDING-LEFT: 14px !important" height="90">
    <span style="FONT-SIZE: 11pt">董程文</span>
   </div></td>
  <td sizcache="16" sizset="1" nodeindex="3">
   <div id="marjd" title="中共钟山区委副书记、钟山区人民政府县长" height="90">
    <span style="FONT-SIZE: 11pt">中共钟山区委副书记、钟山区人民政府县长</span>
   </div>&nbsp;</td>
  <td class="TNR" sizcache="16" sizset="2" nodeindex="4">
   <div title="男" style="WIDTH: 30px" height="90">
    <span style="FONT-SIZE: 11pt">男</span>
   </div></td>
  <td class="TNR" sizcache="16" sizset="3" nodeindex="5">
   <div title="汉族" style="WIDTH: 30px" height="90">
    <span style="FONT-SIZE: 11pt">汉族</span>
   </div></td>
  <td class="TNR" sizcache="16" sizset="4" nodeindex="6">
   <div title="山西长治" style="WIDTH: 50px" height="90">
    <span style="FONT-SIZE: 11pt">山西长治</span>
   </div></td>
  <td class="align-center" sizcache="16" sizset="5" nodeindex="7">
   <div id="marjd" title="大专" style="WIDTH: 69px" height="90">
    <span style="FONT-SIZE: 11pt">大专</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="6" nodeindex="8">
   <div id="marjd" title="毕节师范专科学校中文专业" style="WIDTH: 76px; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important; BACKGROUND-COLOR: white" height="90">
    <span style="FONT-SIZE: 11pt">毕节师范专科学校中文专业</span>
   </div>&nbsp;</td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="7" nodeindex="9">
   <div id="marjd" title="中央党校大学" style="WIDTH: 69px" height="90">
    <span style="FONT-SIZE: 11pt">中央党校大学</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="8" nodeindex="10">
   <div id="marjd" title="中央党校经济管理专业" style="WIDTH: 73px; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important; BACKGROUND-COLOR: white" height="90">
    <span style="FONT-SIZE: 11pt">中央党校经济管理专业</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="9" nodeindex="11">
   <div title="1965.05" height="90">
    <span style="FONT-SIZE: 11pt">1965.05</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="10" nodeindex="12">
   <div title="1991.05" height="90">
    <span style="FONT-SIZE: 11pt">1991.05</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="11" nodeindex="13">
   <div title="1986.08" height="90">
    <span style="FONT-SIZE: 11pt">1986.08</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="10" nodeindex="12">
   <div title="1991.05" height="90">
    <span style="FONT-SIZE: 11pt">1991.05</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="11" nodeindex="13">
   <div title="1986.08" height="90">
    <span style="FONT-SIZE: 11pt">1986.08</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="14" nodeindex="16">
   <div class="xingm" style="HEIGHT: 90px; PADDING-LEFT: 5px !important; MARGIN: 0px; MAX-HEIGHT: 90px" height="90">
    &nbsp;
   </div></td>
 </tr>
 <tr class="data" sizcache="17" sizset="15">
  <td class="rownum default_color aligh_sensc" style="DISPLAY: none" nodeindex="1">2</td>
  <td class="TNR default_color " sizcache="16" sizset="15" nodeindex="2">
   <div title="董程文_TEST" class="xingm" style="PADDING-LEFT: 14px !important" height="90">
    <span style="FONT-SIZE: 11pt">董程文_TEST</span>
   </div></td>
  <td sizcache="16" sizset="16" nodeindex="3">
   <div id="marjd" title="中共钟山区委副书记、钟山区人民政府县长" height="90">
    <span style="FONT-SIZE: 11pt">中共钟山区委副书记、钟山区人民政府县长</span>
   </div>&nbsp;</td>
  <td class="TNR" sizcache="16" sizset="17" nodeindex="4">
   <div title="男" style="WIDTH: 30px" height="90">
    <span style="FONT-SIZE: 11pt">男</span>
   </div></td>
  <td class="TNR" sizcache="16" sizset="18" nodeindex="5">
   <div title="汉族" style="WIDTH: 30px" height="90">
    <span style="FONT-SIZE: 11pt">汉族</span>
   </div></td>
  <td class="TNR" sizcache="16" sizset="19" nodeindex="6">
   <div title="山西长治" style="WIDTH: 50px" height="90">
    <span style="FONT-SIZE: 11pt">山西长治</span>
   </div></td>
  <td class="align-center" sizcache="16" sizset="20" nodeindex="7">
   <div id="marjd" title="大专" style="WIDTH: 69px" height="90">
    <span style="FONT-SIZE: 11pt">大专</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="21" nodeindex="8">
   <div id="marjd" title="毕节师范专科学校中文专业" style="WIDTH: 76px; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important; BACKGROUND-COLOR: white" height="90">
    <span style="FONT-SIZE: 11pt">毕节师范专科学校中文专业</span>
   </div>&nbsp;</td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="22" nodeindex="9">
   <div id="marjd" title="中央党校大学" style="WIDTH: 69px" height="90">
    <span style="FONT-SIZE: 11pt">中央党校大学</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="23" nodeindex="10">
   <div id="marjd" title="中央党校经济管理专业" style="WIDTH: 73px; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important; BACKGROUND-COLOR: white" height="90">
    <span style="FONT-SIZE: 11pt">中央党校经济管理专业</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="24" nodeindex="11">
   <div title="1965.05" height="90">
    <span style="FONT-SIZE: 11pt">1965.05</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="25" nodeindex="12">
   <div title="1991.05" height="90">
    <span style="FONT-SIZE: 11pt">1991.05</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="26" nodeindex="13">
   <div title="1986.08" height="90">
    <span style="FONT-SIZE: 11pt">1986.08</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="27" nodeindex="14">
   <div title="1986.08" height="90">
    <span style="FONT-SIZE: 11pt">1986.08</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="28" nodeindex="15">
    <div title="1986.08" height="90">
    <span style="FONT-SIZE: 11pt">1986.08</span>
   </div>
  </td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="29" nodeindex="16">
   <div class="xingm" style="HEIGHT: 90px; PADDING-LEFT: 5px !important; MARGIN: 0px; MAX-HEIGHT: 90px" height="90">
    &nbsp;
   </div></td>
 </tr>
 <tr class="data" sizcache="17" sizset="30">
  <td class="rownum default_color aligh_sensc" style="DISPLAY: none" nodeindex="1">3</td>
  <td class="TNR default_color " sizcache="16" sizset="30" nodeindex="2">
   <div title="黎宏_TEST" class="xingm" style="PADDING-LEFT: 14px !important" height="90">
    <span style="FONT-SIZE: 11pt">黎宏_TEST</span>
   </div></td>
  <td sizcache="16" sizset="31" nodeindex="3">
   <div id="marjd" title="省水利厅省水利厅副厅长、党组成员" height="90">
    <span style="FONT-SIZE: 11pt">省水利厅省水利厅副厅长、党组成员</span>
   </div>&nbsp;</td>
  <td class="TNR" sizcache="16" sizset="32" nodeindex="4">
   <div title="男" style="WIDTH: 30px" height="90">
    <span style="FONT-SIZE: 11pt">男</span>
   </div></td>
  <td class="TNR" sizcache="16" sizset="33" nodeindex="5">
   <div title="汉族" style="WIDTH: 30px" height="90">
    <span style="FONT-SIZE: 11pt">汉族</span>
   </div></td>
  <td class="TNR" sizcache="16" sizset="34" nodeindex="6">
   <div title="陕西合阳" style="WIDTH: 50px" height="90">
    <span style="FONT-SIZE: 11pt">陕西合阳</span>
   </div></td>
  <td class="align-center" sizcache="16" sizset="35" nodeindex="7">
   <div id="marjd" title="高中" style="WIDTH: 69px" height="90">
    <span style="FONT-SIZE: 11pt">高中</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="36" nodeindex="8">
   <div id="marjd" title="合阳中学" style="WIDTH: 76px; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important; BACKGROUND-COLOR: white" height="90">
    <span style="FONT-SIZE: 11pt">合阳中学</span>
   </div>&nbsp;</td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="37" nodeindex="9">
   <div id="marjd" title="大学" style="WIDTH: 69px" height="90">
    <span style="FONT-SIZE: 11pt">大学</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="38" nodeindex="10">
   <div id="marjd" title="西北大学行政管理专业" style="WIDTH: 73px; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important; BACKGROUND-COLOR: white" height="90">
    <span style="FONT-SIZE: 11pt">西北大学行政管理专业</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="39" nodeindex="11">
   <div title="1960.09" height="90">
    <span style="FONT-SIZE: 11pt">1960.09</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="40" nodeindex="12">
   <div title="1981.12" height="90">
    <span style="FONT-SIZE: 11pt">1981.12</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="41" nodeindex="13">
   <div title="1978.12" height="90">
    <span style="FONT-SIZE: 11pt">1978.12</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="42" nodeindex="14">
   <div height="90">
    &nbsp;
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="43" nodeindex="15">
   <div height="90">
    &nbsp;
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="44" nodeindex="16">
   <div title="管理学学士
高级政工师" class="xingm" style="HEIGHT: 90px; PADDING-LEFT: 5px !important; MARGIN: 0px; MAX-HEIGHT: 90px" height="90">
    <span style="FONT-SIZE: 11pt">管理学学士<br />高级政工师</span>
   </div></td>
 </tr>
 <tr class="data" sizcache="17" sizset="45">
  <td class="rownum default_color aligh_sensc" style="DISPLAY: none" nodeindex="1">4</td>
  <td class="TNR default_color " sizcache="16" sizset="45" nodeindex="2">
   <div title="李国庆_TEST" class="xingm" style="PADDING-LEFT: 14px !important" height="90">
    <span style="FONT-SIZE: 11pt">李国庆_TEST</span>
   </div></td>
  <td sizcache="16" sizset="46" nodeindex="3">
   <div id="marjd" title="省水利厅副巡视员" height="90">
    <span style="FONT-SIZE: 11pt">省水利厅副巡视员</span>
   </div>&nbsp;</td>
  <td class="TNR" sizcache="16" sizset="47" nodeindex="4">
   <div title="男" style="WIDTH: 30px" height="90">
    <span style="FONT-SIZE: 11pt">男</span>
   </div></td>
  <td class="TNR" sizcache="16" sizset="48" nodeindex="5">
   <div title="汉族" style="WIDTH: 30px" height="90">
    <span style="FONT-SIZE: 11pt">汉族</span>
   </div></td>
  <td class="TNR" sizcache="16" sizset="49" nodeindex="6">
   <div title="河南中牟" style="WIDTH: 50px" height="90">
    <span style="FONT-SIZE: 11pt">河南中牟</span>
   </div></td>
  <td class="align-center" sizcache="16" sizset="50" nodeindex="7">
   <div id="marjd" title="大专" style="WIDTH: 69px" height="90">
    <span style="FONT-SIZE: 11pt">大专</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="51" nodeindex="8">
   <div id="marjd" title="空军第十六航空学校兵器类其他专业" style="WIDTH: 76px; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important; BACKGROUND-COLOR: white" height="90">
    <span style="FONT-SIZE: 11pt;width:90%;height:90%">空军第十六航空学校兵器类其他专业</span>
   </div>&nbsp;</td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="52" nodeindex="9">
   <div id="marjd" title="大学" style="WIDTH: 69px" height="90">
    <span style="FONT-SIZE: 11pt">大学</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="53" nodeindex="10">
   <div id="marjd" title="空军第二飞行学校航空航天类其他专业" style="WIDTH: 73px; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important; BACKGROUND-COLOR: white" height="90">
    <span style="FONT-SIZE: 11pt;width:90%;height:90%">空军第二飞行学校航空航天类其他专业</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="54" nodeindex="11">
   <div title="1961.12" height="90">
    <span style="FONT-SIZE: 11pt">1961.12</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="55" nodeindex="12">
   <div title="1984.04" height="90">
    <span style="FONT-SIZE: 11pt">1984.04</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="56" nodeindex="13">
   <div title="1978.08" height="90">
    <span style="FONT-SIZE: 11pt">1978.08</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="57" nodeindex="14">
   <div height="90">
    &nbsp;
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="58" nodeindex="15">
   <div height="90">
    &nbsp;
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="59" nodeindex="16">
   <div title="工学学士
" class="xingm" style="HEIGHT: 90px; PADDING-LEFT: 5px !important; MARGIN: 0px; MAX-HEIGHT: 90px" height="90">
    <span style="FONT-SIZE: 11pt">工学学士<br /></span>
   </div></td>
 </tr>
 <tr class="data" sizcache="17" sizset="45">
  <td class="rownum default_color aligh_sensc" style="DISPLAY: none" nodeindex="1">4</td>
  <td class="TNR default_color " sizcache="16" sizset="45" nodeindex="2">
   <div title="李国庆_TEST" class="xingm" style="PADDING-LEFT: 14px !important" height="90">
    <span style="FONT-SIZE: 11pt">李国庆_TEST</span>
   </div></td>
  <td sizcache="16" sizset="46" nodeindex="3">
   <div id="marjd" title="省水利厅副巡视员" height="90">
    <span style="FONT-SIZE: 11pt">省水利厅副巡视员</span>
   </div>&nbsp;</td>
  <td class="TNR" sizcache="16" sizset="47" nodeindex="4">
   <div title="男" style="WIDTH: 30px" height="90">
    <span style="FONT-SIZE: 11pt">男</span>
   </div></td>
  <td class="TNR" sizcache="16" sizset="48" nodeindex="5">
   <div title="汉族" style="WIDTH: 30px" height="90">
    <span style="FONT-SIZE: 11pt">汉族</span>
   </div></td>
  <td class="TNR" sizcache="16" sizset="49" nodeindex="6">
   <div title="河南中牟" style="WIDTH: 50px" height="90">
    <span style="FONT-SIZE: 11pt">河南中牟</span>
   </div></td>
  <td class="align-center" sizcache="16" sizset="50" nodeindex="7">
   <div id="marjd" title="大专" style="WIDTH: 69px" height="90">
    <span style="FONT-SIZE: 11pt">大专</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="51" nodeindex="8">
   <div id="marjd" title="空军第十六航空学校兵器类其他专业" style="WIDTH: 76px; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important; BACKGROUND-COLOR: white" height="90">
    <div style="FONT-SIZE: 11pt;width:90%;height:90%">空军第十六航空学校兵器类其他专业</div>
   </div>&nbsp;</td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="52" nodeindex="9">
   <div id="marjd" title="大学" style="WIDTH: 69px" height="90">
    <span style="FONT-SIZE: 11pt">大学</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="53" nodeindex="10">
   <div id="marjd" title="空军第二飞行学校航空航天类其他专业" style="WIDTH: 73px; PADDING-BOTTOM: 1px !important; TEXT-ALIGN: center; PADDING-TOP: 1px !important; PADDING-LEFT: 1px !important; TEXT-JUSTIFY: distribute-all-lines; MARGIN: 0px; PADDING-RIGHT: 1px !important; BACKGROUND-COLOR: white" height="90">
    <div style="FONT-SIZE: 11pt;width:90%;height:90px">空军第二飞行学校航空航天类其他专业</div>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="54" nodeindex="11">
   <div title="1961.12" height="90">
    <span style="FONT-SIZE: 11pt">1961.12</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="55" nodeindex="12">
   <div title="1984.04" height="90">
    <span style="FONT-SIZE: 11pt">1984.04</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="56" nodeindex="13">
   <div title="1978.08" height="90">
    <span style="FONT-SIZE: 11pt">1978.08</span>
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="57" nodeindex="14">
   <div height="90">
    &nbsp;
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="58" nodeindex="15">
   <div height="90">
    &nbsp;
   </div></td>
  <td style="TEXT-ALIGN: center" sizcache="16" sizset="59" nodeindex="16">
   <div title="工学学士
" class="xingm" style="HEIGHT: 90px; PADDING-LEFT: 5px !important; MARGIN: 0px; MAX-HEIGHT: 90px" height="90">
    <span style="FONT-SIZE: 11pt">工学学士<br /></span>
   </div></td>
 </tr>
 <tr class="data" sizcache="17" sizset="60">

 </tbody>
</table>
</body>
</html>